/******
 *
 *
 *	Table of content
 *	
 *
 *
 ******/
.row{
	overflow:hidden;
	zoom:1;
}

@media (min-width:32em){
	.small-12col{
		float:left;
		margin-right:2%;
	}

	.small-12col{
		position:relative;
		width:100%;
	}
}